<!DOCTYPE html>
<html>
  <head>
    <title>Magic8Ball</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
