<h1>Welcome To The Game Zone</h1>

<p style="text-align:center; padding-top: 20px">
  <a href="magic/">Magic 8 Ball<a>
    <br>
    <br>
  <a href="secret/0">Secret Number Game<a>
    <br>
    <br>
  <a href="rock_paper_scissors">Rock Paper Scissors<a>
</p>
