<h1>Rock Paper Scissors</h1>

<p class="homeButton"><a href="/">Home<a>

<br><br>

<p>Choose your weapon:</p>

<br><br>

<table style="width:100%">
  <tr>
    <th><a href="/rock_paper_scissors/rock"><img src="/assets/rock.png" alt="paper" height="150" width="140"></th>
    <th><a href="/rock_paper_scissors/paper"><img src="/assets/paper.png" alt="paper" height="150" width="140"></th>
    <th><a href="/rock_paper_scissors/scissor"><img src="/assets/scissor.png" alt="paper" height="150" width="160"></th>
  </tr>
</table>
