<h1>Rock Paper Scissors</h1>

<p class="homeButton"><a href="/">Home<a>
<a href="/rock_paper_scissors">Play Again<a></p>

<br><br><br>

<table style="width:100%">
  <tr>
    <th style="padding-bottom: 30px">YOU</th>
    <th style="padding-bottom: 30px">COMPUTER</th>
  </tr>
  <tr>
    <th><img src="/assets/<%= @throw %>.png" height="150" width="140"></th>
    <th><img src="/assets/<%= @compans %>.png" height="150" width="140"></th>
  </tr>
</table>

<br><br>

<p style="text-align: center"><%= @ans %></p>
