<h1>The Magic 8 Ball</h1>



<table>
  <tr>
    <th><p class="homeButton"><a href="/">home</a></p></th>
    <th><p class="homeButton"><a href="/magic/">ask again</a></p></th>
  </tr>
</table>

<h2>
  <%= @x %>
</h2>

<div class = "ball">
  <h3>
    <%= @ans %>
  </h3>
</div>
